<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <h2>Добави обява</h2>
    <form th:action="@{/products/submit}" method="post" th:object="${product}" enctype="multipart/form-data">
        <div>
            <label for="images">Снимки</label>
            <input type="file" id="images" name="images" multiple accept="image/png, image/gif, image/jpeg"/>
            <div th:if="${hasUploadError}">Възникна грешка</div>
            <div th:if="${!areImagesSelected}">Полето не може да бъде празно</div>
        </div>
        <div>
            <label for="title">Заглавие</label>
            <input type="text" th:field="*{title}" id="title">
            <div th:each="error : ${#fields.errors('title')}" th:text="${error}"></div>
        </div>
        <div>
            <label for="description">Описание</label>
            <textarea th:field="*{description}" id="description"></textarea>
            <div th:each="error : ${#fields.errors('description')}" th:text="${error}"></div>
        </div>
        <div>
            <label for="price">Цена</label>
            <input type="number" th:field="*{price}" id="price" step="1">
            <div th:each="error : ${#fields.errors('price')}" th:text="${error}"></div>
        </div>
        <div>
            <label for="category">Категория</label>
            <select th:field="*{category}" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <div th:each="error : ${#fields.errors('category')}" th:text="${error}"></div>
        </div>
        <div>
            <label for="condition">Състояние</label>
            <select th:field="*{condition}" id="condition">
                <option value="NEW">Ново</option>
                <option value="VERY_GOOD">Много добро</option>
                <option value="USED">Използвано</option>
                <option value="DEFECT">С дефект</option>
            </select>
            <div th:each="error : ${#fields.errors('condition')}" th:text="${error}"></div>
        </div>
        <button type="submit">Добави</button>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>