<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <h2>Продукти</h2>
    <div th:each="product : ${products}">
        <img th:src="@{'data:image/jpeg;base64,' + ${encoder.encodeToBase64(product.images.get(0))}}">
        <h1 th:text="${product.title}"></h1>
        <p th:text="${product.condition.displayName}"></p>
        <button th:onclick="|location.href='/products/${product.id}';|">Виж повече</button>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>