<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <img th:src="@{'data:image/jpeg;base64,' + ${encoder.encodeToBase64(product.images.get(0))}}">
    <h1 th:text="${product.title}"></h1>
    <p th:text="${product.description}"></p>
    <p><strong th:text="${product.condition.displayName}"></strong></p>
    <form th:action="@{/carts/submit-add-product/{productId}(productId=${product.id})}" method="post">
        <button type="submit">Добави в количката</button>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>