<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main><h2>Моите поръчки</h2>
    <div th:each="order : ${orders}"><p th:text="${order.city}"></p>
        <p th:text="${order.address}"></p>
        <p th:text="${order.totalPrice}"></p>
        <p th:text="${order.orderStatus.displayName}"></p>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>