<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <h2>Завърши поръчка</h2>
    <form th:action="@{/orders/submit-purchase}" method="post" th:object="${order}">
        <div>
            <label for="city">Град</label>
            <input type="text" th:field="*{city}" id="city">
            <div th:each="error : ${#fields.errors('city')}" th:text="${error}"></div>
        </div>
        <div>
            <label for="address">Адрес</label>
            <input type="text" th:field="*{address}" id="address">
            <div th:each="error : ${#fields.errors('address')}" th:text="${error}"></div>
        </div>
        <button type="submit">Поръчай</button>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>