<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <h2 th:text="|Поръчка №${order.id}|"></h2>
    <h2 th:text="|${order.buyer.firstName} ${order.buyer.lastName}|"></h2>
    <p th:text="|${order.city} ${order.address}|"></p>
    <p th:text="|Обща стойност: ${order.totalPrice}|"></p>
    <p th:text="|Статус на поръчката: ${order.orderStatus.displayName}|"></p>
    <form th:action="@{/orders/submit-change-order-status/{orderId}(orderId=${order.id})}" method="post">
        <label for="orderStatus">Статус на поръчката</label>
        <select name="orderStatus" id="orderStatus">
            <option value="IN_REVIEW">В обработка</option>
            <option value="SENT">Изпратена</option>
            <option value="DELIVERED">Доставена</option>
        </select>
        <button type="submit">Промени</button>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>