<nav class="tech-navbar" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container">

        <div class="nav-wrapper">

            <a href="/" class="tech-logo">
                TechReuse
            </a>

            <div class="tech-nav-links">

                <a href="/products">Продукти</a>

                <a sec:authorize="hasAuthority('ADMIN')"
                   href="/products/add">
                    ➕ Добави обява
                </a>

                <a sec:authorize="hasAuthority('ADMIN')"
                   href="/orders">
                    📦 Всички поръчки
                </a>

                <a sec:authorize="hasAuthority('USER')"
                   href="/orders/my-orders">
                    🧾 Моите поръчки
                </a>

                <a sec:authorize="hasAuthority('USER')"
                   href="/carts/my-cart">
                    🛒 Количка
                </a>

            </div>

            <div class="tech-nav-auth">

                <a sec:authorize="isAnonymous()"
                   href="/users/login"
                   class="nav-auth-link">
                    Вход
                </a>

                <a sec:authorize="isAnonymous()"
                   href="/users/register"
                   class="nav-auth-btn">
                    Регистрация
                </a>

                <form sec:authorize="isAuthenticated()"
                      th:action="@{/logout}"
                      method="post">

                    <button class="nav-auth-btn">
                        Изход
                    </button>

                </form>

            </div>

        </div>

    </div>

</nav>