<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <h2>Моята количка</h2>
    <div th:each="product : ${cart.products}">
        <h3 th:text="${product.title}"></h3>
        <p th:text="${product.price}"></p>
        <form th:action="@{/carts/submit-remove-product/{productId}(productId = ${product.id})}">
            <button>Премахни от количката</button>
        </form>
    </div>
    <h3 th:text="${cart.totalPrice}"></h3>
    <button onclick="location.href='/orders/purchase';">Поръчай</button>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>