<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="auth-body">
<nav th:replace="~{fragments/navbar}"></nav>
<main class="auth-wrapper">
    <div class="auth-card">
        <h2 class="auth-title">📝 Регистрация</h2>
        <form th:action="@{/submit}" method="post"
              th:object="${user}" class="auth-form">
            <div class="auth-group">
                <label>Име</label>
                <input type="text" th:field="*{firstName}">
                <div class="auth-error-text"
                     th:each="error : ${#fields.errors('firstName')}"
                     th:text="${error}">
                </div>
            </div>
            <div class="auth-group">
                <label>Фамилия</label>
                <input type="text" th:field="*{lastName}">
                <div class="auth-error-text"
                     th:each="error : ${#fields.errors('lastName')}"
                     th:text="${error}">
                </div>
            </div>
            <div class="auth-group">
                <label>Потребителско име</label>
                <input type="text" th:field="*{username}">
                <div class="auth-error-text"
                     th:each="error : ${#fields.errors('username')}"
                     th:text="${error}">
                </div>
                <div class="auth-error-text"
                     th:if="${existsUserByUsername}">
                    Това потребителско име е заето
                </div>
            </div>
            <div class="auth-group">
                <label>Имейл</label>
                <input type="email" th:field="*{email}">
                <div class="auth-error-text"
                     th:each="error : ${#fields.errors('email')}"
                     th:text="${error}">
                </div>
                <div class="auth-error-text"
                     th:if="${existsUserByEmail}">
                    Този имейл вече е използван
                </div>
            </div>
            <div class="auth-group">
                <label>Парола</label>
                <input type="password" th:field="*{password}">
                <div class="auth-error-text"
                     th:each="error : ${#fields.errors('password')}"
                     th:text="${error}">
                </div>
            </div>
            <button class="auth-btn">Регистрация</button>
            <p class="auth-link">
                Вече имаш акаунт?
                <a href="/sign-in">Вход</a>
            </p>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>